# Python used in the reference environment: 3.11.10.
# PyTorch here uses CUDA 11.8 wheels ("+cu118"). If you want CPU-only, replace the torch/torchvision/torchaudio
# pins and remove the PyTorch wheel index below.
# --index-url https://pypi.org/simple
# --extra-index-url https://download.pytorch.org/whl/cu118
# torch==2.4.0+cu118
# torchaudio==2.4.0+cu118
# torchvision==0.19.0+cu118

torchlibrosa==0.1.0

numpy==1.26.4
pandas==1.5.3
tqdm==4.66.5

scikit-learn==1.5.2

matplotlib==3.9.2
